---
layout: default
---
<article>
    {% if image.length > 0%}
    <img src="{{image}}" alt="{{imageAlt}}" class="article-header-image">
    {% endif %}
    <h2>{{title}}</h2>
    {% if date %}
    <div>
        <span>Last Modified:</span> <time datetime="{{ page.date | htmlDateString }}">{{ date | readableDate }}</time>
    </div>
    {% endif %}
    {% if type.length > 0 %}
    <div class="note-type">
        <span>Type:</span>
        {% if type == 'Seed' %}
        <span class="seed"> {{type}} 🌱</span>
        {% elsif type == 'Budding' %}
        <span class="Budding"> {{type}} 🌿</span>
        {% elsif type == 'Growing' %}
        <span class="growing"> {{type}} 🌳</span>
        {% elsif type == 'Flourishing' %}
        <span class="flourishing"> {{type}} 🌸</span>
        {% elsif type == 'Needs Pruning' %}
        <span class="needs-pruning"> {{type}} ✂️</span>
        {% endif %}
    </div>
    {% endif %}
    {{content}}
</article>
{% include 'backlinks.html' %}