---
layout: default
---
<article>
    {% if image.length > 0%}
        <img src="{{image}}" alt="{{imageAlt}}" class="article-header-image">
    {% endif %}
    <h2>{{title}}</h2>
    {% if date %}
    <div>
        <span>Last Modified:</span> <time datetime="{{ page.date | htmlDateString }}">{{ date | readableDate }}</time>
    </div>
    {% endif %}
    {% if type.length > 0 %}
    <div>
        <span>Type:</span> {{type}}
    </div>
    {% endif %}
    {{content}}
</article>
{% include 'backlinks.html' %}