{% assign metatitle = site.title %}

{% if type == "note" %}
    {% assign metatitle = site.author | append: "'s Notes" %}
{% endif %}

{% if title %}
    {% assign metatitle = metatitle | prepend: " • " | prepend: title %}
{% endif %}

{% assign metadesc = site.desc %}
{% if desc %}
    {% assign metadesc = desc %}
{% endif %}

{% assign metatype = "website" %}
{% if type == "note" %}
    {% assign metatype = "article" %}
{% endif %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>{{- metatitle -}}</title>

<meta name="description" content="{{- metadesc -}}">

<meta property="og:title" content="{{-metatitle-}}">
<meta property="og:type" content="{{-metatype-}}">
<meta property="og:url" content="{{ page.url | prepend: site.baseurl }}">
<meta property="og:description" content="{{- metadesc -}}">

<link rel="canonical" href="{{ page.url | prepend: site.baseurl }}">

<link rel="stylesheet" href="/assets/normalize.min.css">
<link rel="stylesheet" href="/assets/style.css">